.App {
  text-align: center;
  color: aliceblue;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .Bg-img {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/IMG_HSBG.jpg);
    position: absolute;
    z-index: -1;
    background-position: center;
  }
}
